<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ emisor }} - Metrovalores</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png">
    <style>
        .cotizaciones table {
            width: 100%;
            font-size: 1.2em;
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
        }
        .cotizaciones th, .cotizaciones td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .cotizaciones th {
            background-color: #f2f2f2;
            color: black;
        }
        .dividendos-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .dividendos-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .dividendos-table {
            flex: 2;
            margin-right: 20px;
        }
        .dividendos-resumen {
            flex: 3;
            padding-left: 20px;
            font-size: 1.1em;
            text-align: justify;
        }
        .card h2, .dividendos-section h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/renta-variable" class="active">Renta Variable</a></li>
                    <li><a href="/renta-fija">Renta Fija</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section id="dashboard">
                <div class="dashboard-section">
                    <div class="card">
                        <!-- Mostramos solo el logo del emisor -->
                        {% if profile.Nombre in ["BOLSA DE VALORES DE GUAYAQUIL", "BRIKAPITAL SA", "SAN CARLOS SOC. AGR. IND.", "BEVERAGE BRAND PATENTS SA"] %}
                            <img src="/static/img/Logos_nombres/{{ profile.Nombre }}.png" alt="Logo de {{ profile.Nombre }}" class="logo-pequeño">
                        {% else %}
                            <img src="/static/img/Logos_nombres/{{ profile.Nombre }}.png" alt="Logo de {{ profile.Nombre }}" class="logo">
                        {% endif %}
                        <!-- Subtítulo en gris -->
                        <h3 class="subtitulo">Precio y Volumen</h3>
                        <div id="grafico">
                            {{ graph|safe }}
                        </div>
                    </div>
                    <div class="card">
                        <h2>Perfil del Emisor</h2>
                        <p>{{ profile.Nombre }}</p>
                        <p>{{ profile.Descripción }}</p>
                        <p><strong>Sector:</strong> {{ profile.Sector }}</p>
                    </div>
                </div>
                <!-- Índice de Cotizaciones Máximas y Mínimas -->
                <div class="dashboard-section">
                    <div class="card">
                        <h2>Cotizaciones Máximas y Mínimas</h2>
                        <div class="cotizaciones" style="display: flex; justify-content: space-between;">
                            <div class="cotizaciones-lista" style="flex: 1; margin-right: 10px;">
                                <h3>Cotizaciones Máximas</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Año</th>
                                            <th>Fecha</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for quote in max_quotes %}
                                        <tr>
                                            <td>{{ quote.AÑO }}</td>
                                            <td>{{ quote.FECHA }}</td>
                                            <td>${{ quote.PRECIO }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="cotizaciones-lista" style="flex: 1; margin-left: 10px;">
                                <h3>Cotizaciones Mínimas</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Año</th>
                                            <th>Fecha</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for quote in min_quotes %}
                                        <tr>
                                            <td>{{ quote.AÑO }}</td>
                                            <td>{{ quote.FECHA }}</td>
                                            <td>${{ quote.PRECIO }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                                  <!-- Sección de Dividendos y Balances -->
<div class="dashboard-section dividendos-section">
    {% if profile.Nombre not in ["BRIKAPITAL SA", "CONTINENTAL TIRE ANDINA S A", "INVERSANCARLOS"] %}
    <h2>Dividendos Repartidos</h2>
    <div class="dividendos-content" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <!-- Imagen de las Juntas -->
        <div class="dividendos-imagen" style="margin-bottom: 20px;">
            <img 
            src="{{ url_for('static', filename='img/juntas_2024/' + profile.Nombre + '.jpg') }}"
            alt="Junta de Dividendos {{ profile.Nombre }}" 
            class="imagen-dividendo" 
            style="max-width: 100%; height: auto;">
        </div>
        <!-- Resumen de Dividendos -->
        <div class="dividendos-resumen">
            <p>{{ obtener_resumen_dividendos(profile.Nombre)|safe }}</p>
        </div>
    </div>
    {% endif %}
</div>

    <!-- Espacio adicional entre Dividendos y Estados Financieros -->
    <div style="margin-top: 30px;"></div>

    <!-- Nueva Sección: Balances -->
    {% if profile.Nombre == "CORPORACION FAVORITA C.A." or profile.Nombre == "CERVECERIA NACIONAL CN S A" %}
    <div class="balances-section">
        <h2 style="text-align: center;">Estados Financieros</h2>

        <!-- Imagen: Activos -->
        <h2 style="text-align: center;">Estado de situación financiera</h2>
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="/static/img/Balances/{{ profile.Nombre.rstrip('.') }}/activos.jpeg" 
                 alt="Activos" 
                 style="max-width: 100%; height: auto; border: 1.5px solid black;">
        </div>
        <!-- Imagen: Activos Gráfico -->
        <div style="position: relative; text-align: center; margin-bottom: 40px;">
            <img src="/static/img/Balances/{{ profile.Nombre.rstrip('.') }}/activos_grafico.jpeg" 
                 alt="Activos Gráfico" 
                 style="max-width: 100%; height: auto; border: 1.5px solid black;">
            <p style="position: absolute; bottom: -20px; left: 0; font-size: 0.9em; color: black; margin: 0;">
                Fuente: Superintendencia de Compañías e instituciones emisoras
            </p>
        </div>

        <!-- Espacio entre Estado de situación financiera y Estado de resultados integral -->
        <div style="margin-top: 30px;"></div>

        <!-- Imagen: Ingresos -->
        <h2 style="text-align: center;">Estado de resultados integral</h2>
        <div style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="/static/img/Balances/{{ profile.Nombre.rstrip('.') }}/ingresos.jpeg" 
                 alt="Ingresos" 
                 style="max-width: 100%; height: auto; border: 1.5px solid black;">
            <p style="position: absolute; bottom: -20px; left: 0; font-size: 0.9em; color: black; margin: 0;">
                Fuente: Superintendencia de Compañías e instituciones emisoras
            </p>
        </div>

        <!-- Espacio entre Estado de resultados integral y Principales indicadores -->
        <div style="margin-top: 30px;"></div>

        <!-- Imagen: Liquidez -->
        <h2 style="text-align: center;">Principales indicadores</h2>
        <div style="position: relative; text-align: center; margin-bottom: 40px;">
            <img src="/static/img/Balances/{{ profile.Nombre.rstrip('.') }}/liquidez.jpeg" 
                 alt="Liquidez" 
                 style="max-width: 100%; height: auto; border: 1.5px solid black;">
            <p style="position: absolute; bottom: -20px; left: 0; font-size: 0.9em; color: black; margin: 0;">
                Fuente: Superintendencia de Compañías e instituciones emisoras
            </p>
        </div>
    </div>
    {% endif %}

    <!-- Espacio adicional entre balances y calculadora -->
    <div style="margin-top: 35px;"></div>

    <!-- Calculadora de Rendimientos -->
    </div> 
    <h2 style="text-align: center;">Calculadora de rendimientos de la BVQ</h2> 
    <div style="display: flex; justify-content: center; margin-top: 20px;"> 
        <iframe id="calculator" 
        src="https://bvqservicesct.com/bvqweb/zHtmls/CalculadorAcciones/p_infbiblio.asp" 
        style="width:80%; height:600px; border:none;"></iframe> 
    </div>
</div>
