<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tendencias con Gráficos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script> <!-- Enlace a D3.js -->
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png"> <!-- Añadir esta línea -->
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
    <li><a href="/">Inicio</a></li>
    <li><a href="/juntas-de-accionistas">Juntas De Accionistas</a></li>
    <li class="submenu">
        <a href="javascript:void(0);">Renta Variable ▾</a>
        <ul class="dropdown">
            <li><a href="/renta-variable">Reporte semanal de renta variable</a></li>
            <li><a href="/informacion-individual-por-empresa">Información individual por empresa</a></li>
        </ul>
    </li>
    <li><a href="/notas-de-credito">Notas de Crédito</a></li>
</ul>
            </nav>
        </div>
        <h1>Tendencias con Gráficos</h1>
    </header>
    <main>
        <div class="container">
            <h2>Empresas Disponibles</h2>
            <ul>
                {% for company in companies %}
                    <li><a href="{{ url_for('show_company', company=company) }}">{{ company }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>
</html>