<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos - Metrovalores</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png"> <!-- Añadir esta línea -->
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/juntas-de-accionistas">Juntas de Accionistas</a></li>
                    <li class="submenu">
                        <a href="/submenu_renta_variable">Renta Variable ▾</a>
                        <ul class="dropdown">
                            <li><a href="/renta-variable">Informe Semanal de Renta Variable</a></li>
                            <li><a href="/informacion-individual-por-empresa">Información Individual por Empresa</a></li>
                            <li><a href="/calculadora-de-rendimientos">Calculadora de Rendimientos</a></li>
                        </ul>
                    </li>
                    <li><a href="/notas-de-credito">Notas de Crédito</a></li>
                </ul>
            </nav>
        </div>
    </header>
        </div>
        <h1>Gráficos Generales</h1>
    </header>
    <main>
        <section id="graficos">
            <h2>Gráficos de Índices del Mercado</h2>
            <div id="grafico-indice-bvq">
                {{ graph_bvq|safe }}
            </div>
            <div id="grafico-indice-bvl">
                {{ graph_bvl|safe }}
            </div>
        </section>
    </main>
</html>