<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juntas de accionistas - Metrovalores</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png">
    <style>
        /* Centrar los subtítulos */
        h3 {
            text-align: center;
        }
    </style>
</head>
<body class="azul-marino">
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/juntas-de-accionistas" class="active">Juntas De Accionistas</a></li>
                    <li><a href="/renta-variable">Renta Variable</a></li>
                    <li><a href="/notas-de-credito">Notas de Crédito</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- Nueva sección: Dividendos -->
        <section class="dividendos-section" style="margin-bottom: 50px;">
            <h2>Pago De Dividendos</h2>
            <div class="dividendos-cuadros" style="margin-bottom: 30px;">
                <h3>Sector Financiero</h3>
                <div style="text-align: center;">
                    <img src="/static/img/juntas_comparativas/fechas_dividendos/dividendos_sector_financiero.jpeg" 
                         alt="Dividendos Sector Financiero" 
                         style="max-width: 55%; height: auto; border: 0.5px solid black; border-radius: 0.7px;">
                </div>
            </div>
            <div class="dividendos-cuadros" style="margin-bottom: 30px;">
                <h3>Sector Real</h3>
                <div style="text-align: center;">
                    <img src="/static/img/juntas_comparativas/fechas_dividendos/dividendos_sector_real.jpeg" 
                         alt="Dividendos Sector Real" 
                         style="max-width: 55%; height: auto; border: 0.5px solid black; border-radius: 0.7px;">
                </div>
            </div>
        </section>

        <!-- Sección 1: Sector Financiero -->
        <section class="dividendos-section" style="margin-bottom: 50px;">
            <h2>Resultados Juntas de Accionistas - Sector Financiero</h2>
            <h3>Rendimiento = Dividendo en efectivo por acción / último precio de la acción en 2024</h3>
            <div class="dividendos-cuadros" style="position: relative; text-align: center; margin-bottom: 30px;">
                <img src="/static/img/juntas_comparativas/juntas_sector_financiero/juntas_sector_financiero.jpg" 
                     alt="Juntas del Sector Financiero" 
                     style="max-width: 110%; height: auto; border: 0.5px solid black; border-radius: 0.7px;">
                <p style="margin-top: 10px; font-size: 0.9em; color: black;">
                    Fuente: Superintendencia de Bancos e Instituciones Emisoras
                </p>
            </div>
            <div id="grafico-financiero" style="position: relative; margin-top: 20px; text-align: center;">
                <h2>Rendimientos del Sector Financiero</h2>
                <div>
                    {{ grafico_tres_empresas|safe }}
                </div>
            </div>
        </section>

        <!-- Sección 2: Bolsas de Valores -->
        <section class="dividendos-section" style="margin-bottom: 50px;">
            <h2>Resultados Juntas de Accionistas - Bolsas de Valores</h2>
            <h3>Rendimiento = Dividendo en efectivo por acción / último precio de la acción en 2024</h3>
            <div class="dividendos-cuadros" style="position: relative; text-align: center; margin-bottom: 30px;">
                <img src="/static/img/juntas_comparativas/juntas_bolsas/juntas_bolsas.jpg" 
                     alt="Juntas de las Bolsas de Valores" 
                     style="max-width: 50%; height: auto; border: 0.5px solid black; border-radius: 0.7px;">
                <p style="margin-top: 10px; font-size: 0.9em; color: black;">
                    Fuente: Superintendencia de Compañías e Instituciones Emisoras
                </p>
            </div>
            <div id="grafico-bolsas" style="position: relative; margin-top: 20px; text-align: center;">
                <h2>Rendimientos de las Bolsas de Valores</h2>
                <div>
                    {{ grafico_bolsas|safe }}
                </div>
            </div>
        </section>

        <!-- Sección 3: Sector Real -->
        <section class="dividendos-section" style="margin-bottom: 50px;">
            <h2>Resultados Juntas de Accionistas - Sector Real</h2>
            <h3>Rendimiento = Dividendo en efectivo por acción / último precio de la acción en 2024</h3>
            <div class="dividendos-cuadros" style="position: relative; text-align: center; margin-bottom: 30px;">
                <img src="/static/img/juntas_comparativas/juntas_sector_real/juntas_sector_real.jpg" 
                     alt="Juntas del Sector Real" 
                     style="max-width: 110%; height: auto; border: 0.5px solid black; border-radius: 0.7px;">
                <p style="margin-top: 10px; font-size: 0.9em; color: black;">
                    Fuente: Superintendencia de Compañías e Instituciones Emisoras
                </p>
            </div>
            <div id="grafico-sector-real" style="position: relative; margin-top: 20px; text-align: center;">
                <h2>Rendimientos del Sector Real</h2>
                <div>
                    {{ grafico_sector_real|safe }}
                </div>
            </div>
        </section>
    </main>
    <footer class="pie-de-pagina">
        <div class="pie-informacion-redes">
            <div class="pie-informacion">
                <p>Dirección: Av. República de El Salvador N34-229 y Moscú, Ed. San Salvador, Piso 7. Quito, Ecuador.</p>
                <p>info@metrovalores.com.ec | (593 2) 2266 400 | (593) 96 260 3638</p>
            </div>
        </div>
    </footer>
</body>
</html>
