<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividendos - Juntas 2024</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
</head>
<body>
    <div class="dividendos-content">
        <h2>Dividendos Repartidos - BANCO GUAYAQUIL S.A.</h2>
        <table class="tabla-dividendos">
            <thead>
                <tr>
                    <th>BANCO GUAYAQUIL</th>
                    <th>2023</th>
                    <th>2024</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Capital</td>
                    <td>$ 537,165.00</td>
                    <td>$ 591,943.00</td>
                </tr>
                <tr>
                    <td>Utilidad Neta (miles)</td>
                    <td>$ 121,718.00</td>
                    <td>$ 120,128.00</td>
                </tr>
                <tr>
                    <td>Dividendo en efectivo (miles)</td>
                    <td>$ 54,770.00</td>
                    <td>$ 54,000.00</td>
                </tr>
                <tr>
                    <td>Aumento capital (miles)</td>
                    <td>$ 54,776.40</td>
                    <td>$ 54,115.00</td>
                </tr>
                <tr>
                    <td>Dividendo en efectivo por acción</td>
                    <td>$ 0.1020</td>
                    <td>$ 0.0912</td>
                </tr>
                <tr>
                    <td>Aumento de capital por acción</td>
                    <td>10.20%</td>
                    <td>9.12%</td>
                </tr>
                <tr>
                    <td>Ultimo precio</td>
                    <td>$ 1.10</td>
                    <td>$ 1.20</td>
                </tr>
                <tr>
                    <td>Rendimiento del dividendo (Yield) %</td>
                    <td>9.27%</td>
                    <td>7.60%</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
