<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acciones - Metrovalores</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png">
</head>
<body class="azul-marino">
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/juntas-de-accionistas">Juntas De Accionistas</a></li>
                    <li><a href="/renta-variable" class="active">Renta Variable</a></li>
                    <li><a href="/notas-de-credito">Notas de Crédito</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="titulo-centro">
                <h1 class="titulo-profesional">Acciones</h1>
                <p>{{ fecha_actual }}</p>
            </div>

            {% for sector, empresas in {"Instituciones del Sector Financiero": ['BANCO GUAYAQUIL S.A.', 'BANCO DE LA PRODUCCION S.A . PRODUBANCO', 'BANCO PICHINCHA C.A.', 'BANCO BOLIVARIANO C.A.', 'BOLSA DE VALORES DE GUAYAQUIL', 'BOLSA DE VALORES DE QUITO'], "Empresas del Sector Real": ['CORPORACION FAVORITA C.A.', 'CERVECERIA NACIONAL CN S A', 'HOLCIM ECUADOR S.A.', 'SAN CARLOS SOC. AGR. IND.', 'BEVERAGE BRAND PATENTS SA', "CONCLINA C A  CIA CONJU CLINICO NACIONAL", "CONTINENTAL TIRE ANDINA S A", "INDUSTRIAS ALES", "INVERSANCARLOS"] }.items() %}
            <section>
                <h2>{{ sector }}</h2>
                <div class="tabla-container centrada" style="display: flex; justify-content: center;">
                    <table class="tabla-renta-variable centrar-tabla">
                        <thead>
                            <tr>
                                <th>Emisor</th>
                                <th>Última Transacción</th>
                                <th>Precio</th>
                                <th>Variación Diaria</th>
                                <th>Precio Cierre 2024</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empresa in datos if empresa.EMISOR in empresas %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('show_company', company=empresa.EMISOR) }}">
                                        <img src="/static/img/Logos_nombres/{{ empresa.EMISOR }}.png" alt="{{ empresa.EMISOR }} Logo" class="logo-empresa">
                                    </a>
                                </td>
                                <td data-label="Última Transacción">{{ empresa.FECHA_ULTIMA_TRANSACCION }}</td>
                                <td data-label="Precio">{{ empresa.PRECIO_FINAL }}</td>
                                <td data-label="Variación Semanal" class="{% if empresa.VARIACION_SEMANAL.startswith('-') %}variacion negativa{% elif empresa.VARIACION_SEMANAL == '0.00%' %}variacion cero{% else %}variacion positiva{% endif %}">{{ empresa.VARIACION_SEMANAL }}</td>
                                <td data-label="Precio Cierre 2024">{{ empresa.PRECIO_CIERRE_2024 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            {% if sector == "Instituciones del Sector Financiero" %}
            {% endif %}
            {% endfor %}
            <!-- Texto de comparación de precios al final de la página -->
            <div class="texto-comparacion">
                <p>Comparación del precio de cierre de la semana del {{ semana_anterior_inicio }} con el último precio de la semana del {{ semana_actual_inicio }}.</p>
            </div>
        </div>
    </main>
</body>
</html>
<footer class="pie-de-pagina">
    <!-- Información General y Redes Sociales -->
    <div class="pie-informacion-redes">
        <div class="pie-informacion">
            <p>
                Dirección de la empresa: Av. República de El Salvador N34-229 y Moscú, 
                Ed. San Salvador, Piso 7. Quito, Ecuador.
            </p>
            <p>info@metrovalores.com.ec | (593 2) 2266 400 | (593) 96 260 3638</p>
        </div>
        <div class="pie-redes">
            <a href="https://www.instagram.com/metrovalores/" target="_blank">
                <img src="/static/img/pie_de_pagina/instagram.jpg" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/metrovalores/" target="_blank">
                <img src="/static/img/pie_de_pagina/facebook.jpg" alt="Facebook">
            </a>
            <a href="https://es.linkedin.com/company/metrovalores-casa-de-valores-s.a." target="_blank">
                <img src="/static/img/pie_de_pagina/linkedin.jpg" alt="LinkedIn">
            </a>
        </div>
    </div>
    <!-- Línea divisora -->
    <hr class="linea-separadora">

    <!-- Noticias -->
    <div class="pie-noticias">
        <h3 class="titulo-noticias">NOTICIAS</h3>
        <div class="noticias-enlaces">
            <a href="https://www.bolsadequito.com/index.php/noticias-2" target="_blank">
                <img src="/static/img/pie_de_pagina/BVQ.jpg" alt="BVQ Noticias">
            </a>
            <a href="https://bvgnoticias.com/" target="_blank">
                <img src="/static/img/pie_de_pagina/BVG.jpg" alt="BVG Noticias">
            </a>
        </div>
    </div>
</footer>
