<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renta Fija - Metrovalores</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="icon" href="/static/img/Logo_pestaña.png" type="image/png">
</head>
<body class="azul-marino">
    <header>
        <div class="container">
            <a href="/">
                <img src="/static/img/Logo.png" alt="Metrovalores Logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/juntas-de-accionistas">Juntas De Accionistas</a></li>
                    <li><a href="/renta-variable">Renta Variable</a></li>
                    <li><a href="/renta-fija" class="active">Renta Fija</a></li> <!-- Aquí añadimos la clase active -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container en-construccion">
            <h1>En construcción</h1>
            <img src="/static/img/en_construccion/en_construccion.png" alt="Página en construcción">
        </div>
    </main>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
<footer class="pie-de-pagina">
    <!-- Información General y Redes Sociales -->
    <div class="pie-informacion-redes">
        <div class="pie-informacion">
            <p>
                Dirección de la empresa: Av. República de El Salvador N34-229 y Moscú, 
                Ed. San Salvador, Piso 7. Quito, Ecuador.
            </p>
            <p>info@metrovalores.com.ec | (593 2) 2266 400</p>
        </div>
        <div class="pie-redes">
            <a href="https://www.instagram.com/metrovalores/" target="_blank">
                <img src="/static/img/pie_de_pagina/instagram.jpg" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/metrovalores/" target="_blank">
                <img src="/static/img/pie_de_pagina/facebook.jpg" alt="Facebook">
            </a>
            <a href="https://es.linkedin.com/company/metrovalores-casa-de-valores-s.a." target="_blank">
                <img src="/static/img/pie_de_pagina/linkedin.jpg" alt="LinkedIn">
            </a>
        </div>
    </div>
    <!-- Línea divisora -->
    <hr class="linea-separadora">

    <!-- Noticias -->
    <div class="pie-noticias">
        <h3 class="titulo-noticias">NOTICIAS</h3>
        <div class="noticias-enlaces">
            <a href="https://www.bolsadequito.com/index.php/noticias-2" target="_blank">
                <img src="/static/img/pie_de_pagina/BVQ.jpg" alt="BVQ Noticias">
            </a>
            <a href="https://bvgnoticias.com/" target="_blank">
                <img src="/static/img/pie_de_pagina/BVG.jpg" alt="BVG Noticias">
            </a>
        </div>
    </div>
</footer>
